* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #187795;
    color: #CDC6AE;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
}

#result {
    font-size: 5.2rem;
    font-weight: 700;
}

.interaction {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.1);
    cursor: default;
}

.interaction.active {
    border: 1px solid #CDC6AE;
    color: #CDC6AE;
    cursor: pointer;
}

.interaction:hover {
    color: rgba(255, 255, 255, 0.1);
}

.interaction.active:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #187795;
}

.interaction#reset {
    padding: 10px 15px;
    margin-top: 5px;
}